.banner-container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 450px;
  flex-grow: 0;
  flex-shrink: 1;

  height: 250px;
  margin-left: 30px;
}
.banner-image {
  border-radius: 15px;
  width: 100%;
}
.title-container {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 50%;
}

.title {
  color: #ffffff;
  font-size: 25px;
}

.collection {
  color: #ffffff;
  font-size: 15px;
}

.show-all-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #ffffff;

  cursor: pointer;
  outline: none;
  padding: 10px 20px;

  border: 1px solid lightgray;
  border-radius: 10px;
}
